# Jupyter
**/.ipynb_checkpoints/

# Python
__pycache__/
*.pyc

# Virtual environments
venv/
healthguard_tf/
**/bin/
**/obj/
*.dll
*.exe
*.pdb

# Local environment secrets
.env
**/.env
!.env.example
!**/.env.example
